@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);




#header4-b H1 {
  font-size: 46px;
  text-align: center;
  font-family: 'Slabo 27px', serif;
}
#header4-b P {
  text-align: center;
}
#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .navbar-brand a {
  font-size: 20px;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-0 .navbar-toggler {
  color: #000000;
}
#msg-box3-4 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#form1-d .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
  color: #000000;
}
#form1-d .btn {
  font-size: 22px;
}
#form1-d .mbr-section-title B {
  font-family: 'Roboto Condensed', sans-serif;
}
#contacts1-3 P {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
}





#msg-box3-1g .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1g .mbr-section-title {
  font-family: 'Bitter', serif;
  color: #f1c050;
  text-align: center;
  font-size: 48px;
}
#msg-box3-1g small {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
#features1-1o H4 {
  font-family: 'Raleway', sans-serif;
}
#features1-1q H4 {
  font-family: 'Raleway', sans-serif;
}
#dropdown-menu-6 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-6 .navbar-brand a {
  font-size: 20px;
}
#dropdown-menu-6 .nav .link,
#dropdown-menu-6 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
}
#dropdown-menu-6 .navbar,
#dropdown-menu-6 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-6 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-6 .dropdown-menu a:hover,
#dropdown-menu-6 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-6 .navbar-toggler {
  color: #000000;
}
#contacts1-7 P {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
}
















































#dropdown-menu-f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-f .navbar-brand a {
  font-size: 20px;
}
#dropdown-menu-f .nav .link,
#dropdown-menu-f .dropdown-item {
  font-size: 1.2em;
  color: #000000;
}
#dropdown-menu-f .navbar,
#dropdown-menu-f .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-f .dropdown-menu a:hover,
#dropdown-menu-f .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-f .navbar-toggler {
  color: #000000;
}
#msg-box4-h .mbr-section-title {
  font-size: 46px;
}
#msg-box4-h small {
  font-size: 15px;
}
#msg-box4-h .lead P {
  font-family: 'Droid Serif', serif;
}
#content5-l .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-l P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-m .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-m P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-n .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-n P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-o .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-o P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-p .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-p P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-q .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-q P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-r .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-r P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-s .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-s P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-t .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-t P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-u .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-u P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-v .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-v P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-w .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-w P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-x .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-x P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-y .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-y P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-z .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-z P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-10 .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-10 P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-11 .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-11 P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-12 .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-12 P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-13 .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-13 P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-14 .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-14 P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-15 .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-15 P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-16 .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-16 P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#content5-17 .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#content5-17 P {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}
#contacts1-g P {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
}
